* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #E4E4E4 0%, #A7A7A7 51%);
    background-image:-webkit-linear-gradient(top, #E4E4E4 0%, #A7A7A7 51%);
    background-image:-ms-linear-gradient(top, #E4E4E4 0%, #A7A7A7 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #E4E4E4),
        color-stop(0.51, #A7A7A7)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;
    text-align:center;
    margin:20px 20px 0px 20px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
		margin: 20px 20px 0px 20px;  
        width: 94%;                             
		background-size: 220px;
    }
}

.phone {
	background-color: #DCDCDC;
    border-radius: 5px;
    padding: 1px 5px 13px 5px;
    border: 1px solid #D3D3D3;
}

.tel {
    font-size: 2.5em;
    font-weight: bold;
}

.tel-comment {
	font-size: 0.8em;
}

.phone a {
	text-transform: lowercase;
	text-decoration: none;
	color: #000000;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.search {
	margin-top: 10px;
}

.search input {
	padding: 5px;
    font-size: 1.1em;
    border-radius: 3px;
	margin: 0 -35px 0px 0px;
}

.search button {
	background: none;
    border: none;
}

.search img {
	max-height: 15px;
	margin: -3px;
}

.block {
	background: #1E90FF;
    margin: 15px 0 0 0;
    padding: 1px;
}

.block a {
	font-weight: bold;
    color: #ffffff;
	text-decoration: none;
}

.table {
	background: #ffffff;
    padding: 3px;
    margin: 10px 0 0 0;
    border-radius: 4px;
    text-align: left;
}

.work img {
	margin: 20px 0 0 0;
}

.work h2 {
	margin: 20px 0 0 0;
}

.catalog {
	text-transform: none;
	text-align: left;
}

.delivery {
	text-align: left;
	text-transform: none;
}

.delivery h2 {
		text-align: center;
}

.i {
	font-size: 0.6em;
	font-weight: normal;
}

.panel img {
	max-height: 40px; 
	float: left;
	margin:0 10px 10px 0;
}

.panel button {
	float: right;
    background-color: #1E90FF;
    color: #ffffff;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    border: 1px solid #C0C0C0;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*.ui-progressbar {
    position: relative;
  }
  
.progress-label {
    top: 6px;
    font-weight: bold;
    left: 37%;
    background: none;
    display: block;
    position: absolute;
	text-transform: none;
}
  */
.loaderArea {
    width: 100%;
    background: #ffffff;
    padding: 5px 0 5px 0;
    opacity: 0.5;	
}
.loaderArea img {
	width: 30px;
}

.about {
	text-transform: none;
    text-align: left;
}

  /* Modal */
.cover {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 100;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 20px;
  z-index: 200;
}

.content {
	display: none;
    min-width: 200px;
    width: 97%;
    position: relative;
    background-color: #FAFAFA;
    z-index: 300;
    padding: 15px 0 0 10px;
	border-radius: 5px;
}
.content input {
	width: 85%;
	padding: 5px;
	margin: 5px 0;
}

.open-modal-btn {
  cursor: pointer;
}

.close {
	position: absolute;
    top: 5px;
    right: 5px;
	padding: 0px 10px 0px 10px;
    border-radius: 10px;
}
#ajax_form p,span {
	text-transform: none;
}

/*Modal end */

.send-btn {
	display: block;
    text-align: center;
}

.send-btn button {
	border-radius: 15px;
	margin: 5px 0 10px 0;
    padding: 5px 15px 5px 15px;
    background: #1E90FF;
    color: #FFFFFF;
}
.thank {
	text-align: center;
	font-weight: bold;
}
.search-result {
	display: none;
	text-transform: none;
    text-align: left;
	background: #ffffff;
    padding: 5px;
    margin: 10px 0 0 0;
}
.search-result img {
	max-height: 40px; 
	float: left;
	margin:0 10px 10px 0;
}
.search-result button {
	float: right;
    background-color: #1E90FF;
    color: #ffffff;
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    border: 1px solid #C0C0C0;
}
#scrollup {
	position: fixed;
	opacity: 0.6;
	padding: 15px 10px 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	left: 77%;
	bottom: 10px;
	display: none;
	cursor: pointer;
}